html {
  background-color: #EFEFEF;
  font-family: sans-serif;
  font-family: 'Urbanist', sans-serif;
}

body {
  margin: 0px;
}

header {
  width: 100%;
  height: 10%;
  color: white;
  background-color: #2B2B2B;
  margin: 0px;
  padding: .5rem;
  padding-top: 5.5rem;
  padding-bottom: 1rem;
  border: 0px;
}

header > h1 {
  margin-bottom: 1rem;
}

nav {
  position: relative;
  display: grid;
  grid-template-columns: 3rem 8rem 3rem 8rem 3rem 10rem;
  padding-left: 2rem;
  padding-bottom: .5rem;
}

nav > button,
.admin-options > button {
  height: 2rem;
  width: 2rem;
  background-color: #eaf8ff;
  border: 0px;
  border-radius: 50%;
  align-content: center;
}

nav > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: visible;
  color: #676767;
}

.admin-options > button > img,
nav > button > img {
  height: 1.2rem;
  width: 1.2rem;
  margin-top: 15%;
  margin-right: 12%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

.miniature {
  height: 1.5rem;
  width: 1.5rem;
}

.logo {
  position: absolute;
  right: 5rem;
  top: 2rem;
  margin: 0px;
}

.logo > img {
  width: 9rem;
  height: auto;
  opacity: 40%;
}

.admin-options-container {
  position: relative;
}

.admin-options {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: auto;
  width: auto;
  bottom: 0rem;
  right: 5%;
  margin-bottom: 2rem;
  color: #3be590;
}

.admin-options > button {
  background-color: #91ffc8;
}

.admin-dropdown {
  margin-right: .5rem;
}

.admin-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  margin-top: .5rem;
  margin-left: .5rem;
  background-color: #91ffc8;
  height: 1rem;
  border-radius: 50%;
  /* opacity: 70%; */
}

.arrow-container > img {
  /* opacity: 80%; */
}

.white {
  color: white;
}

.card-area-title {
  color: black;
  padding: 1rem 0rem 1rem 2rem;
}

.card-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 24rem;

  grid-gap: 1rem;
  justify-content: center;
  width: 95%;
  padding: 0rem 2rem 2rem 2rem;
  /* background-color: lightblue; */
}

@media (min-width: 600px) {
  .card-container { grid-template-columns: repeat(2, 19rem); }
}

@media (min-width: 1000px) {
  .card-container { grid-template-columns: repeat(3, 19rem); }
}

@media (min-width: 1200px) {
  .card-container { grid-template-columns: repeat(4, 19rem); }
}

.card-title {
  /* grid-area: header; */
  height: 1rem;
}

.card {
  text-align: center;
  color: #505050;
  background-color: #FFFFFF;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px gray;
}

.thumbnail-container > img,
.card > img {
  width: 100%;
  height: 100%;
  /* border-radius: 1rem; */
  overflow: hidden;
}

.thumbnail-container {
  height: 40%;
}

.darkened {
  filter: brightness(70%);
}

.view-count-container {
  position: relative;
}

.share-button {
  border: 0px;
  position: absolute;
  height: 3.5rem;
  width: 3.5rem;
  z-index: 1;
  left: 0;
  border-radius: 50%;
  margin: .7rem;
  padding: .5rem;
  /* opacity: 90%; */
}



.view-info {
  position: absolute;
  z-index: 1;
  color: white;
  right: 1rem;
  top: 1rem;
}

.view-count {

}

.recipient-name {
  font-weight: bold;

}

.date-info {
  color: darkgray;
}

.recipient-url {
  word-wrap: break-word;
  color: #848484;
  background-color: #EFEFEF;
  margin: 1rem;
  margin-left: 0rem;
  padding: .4rem;
}

.recipient-info,
.playlist-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 1rem;
  margin-top: .5rem;
}

.playlist-name {
  margin-bottom: .5rem;
}

.attachment-count {
  color: #37B7FF;
}
